input[type=submit]{
    background:#FF6600;
    color:#FFFFFF;
    width: 100%;
    height: 3em;
	font-size: 2em;
	margin-left: auto;
    margin-right: auto;
	margin-top: 1em;
}

table{
	margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	border: 1px solid #FF6600;
}

table, th, td {
    padding: 3px 7px;
}

table tbody td { background: #757575; border-left: 1px solid #FF6600;font-size: 12px;font-weight: normal; }
table tbody .alt td { background: #383838; }
table tfoot td div { border-top: 1px solid #FF6600;background: #AAAAAA;}

body{
	font: 80% "Trebuchet MS", sans-serif;
	margin: 20px;
	background-color:#383838;
    color:#FFFFFF;
	text-align: center
}

.persona table{
	font: 100% "verdana", san-serif;
}

.persona td {
	font: 100% "verdana", san-serif;
}
